- show_tags = local_assigns.key?(:show_tags) ? show_tags : true

- if story.account.present?
  li.list-inline-item
    | @#{link_to story.account.username, account.path, class: 'p-author'}

li.list-inline-item
  = story.url_domain

- if show_tags
  = render 'stories/_story/tags', presenter: presenter
