- more_actions_available = policy(story).edit? && policy(story).scrap?

li.list-inline-item
  = link_to story_path(story), class: 'u-url' do
    | #{story.comments_count} comments

li.list-inline-item
  = link_to story_path(story) do
    | posted
    time.ml-1.dt-published(data-controller="time-ago" data-datetime=story.created_at.iso8601 datetime=story.created_at.iso8601)
      = story.created_at

- if user_signed_in? && more_actions_available
  li.list-inline-item •
  li.list-inline-item
    div.dropdown(
      data-controller="dropdown"
    )
      a(href="javascript:void(0);" data-turbolinks="false" data-target="dropdown.toggle" data-action="click->dropdown#toggle click@window->dropdown#hide")
        | more

      ul.menu-n(data-target="dropdown.dropdown" style="min-width: 150px")
        - if policy(story).edit?
          li.menu-n__item
            = link_to 'Edit', edit_story_path(story)

        - if policy(story).scrap?
          li.menu-n__item
            a(
              href="#"
              data-action="click->story#scrap"
              data-action-path=scrap_api_ujs_story_path(story)
            ) Scrap again
