.text-right {
  text-align: right !important;
}

.text-strike {
  text-decoration: line-through;
}

.text-danger {
  color: n-color(red);
}

@each $name, $space in $spaces {
  .m-#{$name} { margin: $space !important }
  .p-#{$name} { padding: $space !important }

  .mt-#{$name} { margin-top: $space !important; }
  .mb-#{$name} { margin-bottom: $space !important; }
  .ml-#{$name} { margin-left: $space !important; }
  .mr-#{$name} { margin-right: $space !important; }

  .pt-#{$name} { padding-top: $space !important; }
  .pb-#{$name} { padding-bottom: $space !important; }
  .pl-#{$name} { padding-left: $space !important; }
  .pr-#{$name} { padding-right: $space !important; }
}
