$menu-space-base: n-space(2) * .8;
$menu-space-h: .4rem;

.menu-n {
  background: n-color(white);
  border-radius: n-border-radius(2sm);
  list-style: none;
  margin: 0;
  padding: $menu-space-base;
  transform: translateY(n-space(1));
  z-index: 300;
  box-shadow: n-shadow(md);
  display: none;

  &__item {
    margin-top: 0;
    padding: 0 $menu-space-base;
    position: relative;
    text-decoration: none;

    a {
      border-radius: n-border-radius(2sm);
      color: inherit;
      text-decoration: none;
      display: block;
      margin: 0 ($menu-space-h * -1);
      padding: .2rem $menu-space-h;
    }

    > a.active,
    > a:active,
    > a:hover {
      color: n-color(indigo);
      background: rgba(n-color(indigo-lightest), 0.6);
    }

    &+.menu-n__item {
      margin-top: n-space(2) * .5;
    }
  }

  &__divider {
    border-top: n-border-width(default) solid n-color(grey-lighter);
    height: n-border-width(default);
    margin: $menu-space-base 0;

    &[data-content] {
      margin: .8rem 0;
    }

    &::after {
      background: n-color(white);
      color: n-color(grey);
      content: attr(data-content);
      display: inline-block;
      font-size: n-text-size(xs);
      padding: 0 $menu-space-h;
      transform: translateY(-.65rem);
    }
  }

  &--opened {
    display: inline-block;
  }
}
