- set_meta_tags @comment.decorate

.stories-list
  ul.list-unstyled
    = render @comment.story

.box-n(data-controller="comments-tree")
  .box-n-body.p-3
    .bg-gray.p-3.br-3
      p.mb-2 That's only a part of entire conversation.
      p.m-0
        a.btn-n.btn-n-sm.btn-n-outline-secondary(href=@comment.story.decorate.path)
          | See all the comments

        - if @comment.parent_id.present?
          a.btn-n.btn-n-sm.btn-n-outline-secondary.ml-2(href=comment_path(@comment.parent_id))
            | See parent comment

    ul.comment-children
      = render 'comments/comment', comment: @comment,
                                   children: @children,
                                   show_children: true
