meta(name="current-account-id" content=current_account&.id)
link(id="favicon" rel="icon" href="/favicon.png" type="image/png" sizes="16x16" data-controller="favicon")
link(rel="manifest" href=manifest_path(format: :json))
