header.navbar-main
  .container
    .navbar
      section.navbar-section
        = render 'shared/_navbar/jumpbox'

      section.navbar-section
        = active_link_to new_story_path, class: 'btn btn-link' do
          i.fe.fe-plus-circle

        - if user_signed_in?
          = render 'shared/_navbar/notifications'
          = render 'shared/_navbar/profile'
        - else
          = active_link_to new_user_session_path, class: 'btn btn-link' do
            i.fe.fe-user
