.dropdown-open {
  .menu {
    display: block;
  }
}

.jumpbox {
  > .btn {
    width: 170px;
    text-align: left;
    position: relative;
    padding-left: .5rem;
    padding-right: .5rem;
    border: 1px solid rgba(#fff, 0.15);
    background: rgba(#fff, 0.15);
    color: rgba(#fff, .8);

    .fe {
      margin-top: 3px;
    }

    .avatar {
      margin-top: -3px;
    }

    .tile-content {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:hover, &:active, &:focus {
      background: rgba(#fff, 0.3);
      color: #fff;
    }

    &::after {
      content: "";
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid rgba(#fff, .5);
      position: absolute;
      right: .5rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .menu {
    width: 250px;
    animation: none;
  }
}
