.markdown-editor {
  @extend .panel;
}

.markdown-editor-body {
  textarea {
    border: 0;
    min-height: 100px;
    resize: none;
  }

  &-pane {
    display: none;
  }

  &-pane.active {
    display: block;
  }

  &-preview {
    padding: 0.5rem;
  }
}

.markdown-editor-footer {
  @extend .panel-footer;

  border-top: 1px dashed $border-color;
  padding: .5rem !important;
  font-size: 0.7rem;

  a {
    color: $gray-color;
  }
}
