.tab {
  &-item {
    .label {
      color: $gray-color;
    }

    .active {
      .label {
        background: $primary-color;
        color: #fff;
      }
    }
  }
}

.tab .tab-item a {
  color: $gray-color;
}
