.mt-4
  h2 Dropdowns

  .columns
    .col-6
      ul.menu-n.menu-n--opened(style="width: 280px")
        li.menu-n__item
          a My profile
        li.menu-n__item
          a.active Settings
        li.menu-n__divider(data-content="Divider")
        li.menu-n__item
          a Log-out

    .col-6
      div(data-controller="dropdown")
        a.btn-n.btn-n-primary(href="javascript:void(0)" data-target="dropdown.toggle" data-action="click->dropdown#toggle click@window->dropdown#hide")
          | Click me!

        ul.menu-n(style="width: 280px" data-target="dropdown.dropdown")
          li.menu-n__item
            a My profile
          li.menu-n__item
            a.active Settings
          li.menu-n__divider(data-content="Divider")
          li.menu-n__item
            a Log-out

  hr

  h2 Popovers

  div(data-controller="popover" data-popover-placement="bottom-start")
    a.btn-n.btn-n-primary(
      href="javascript:void(0)"
      data-target="popover.toggle"
      data-action="mouseenter->popover#delayedOpen"
    )
      | Hover me

    div.box-n.popover-n(
      style="width: 280px"
      data-target="popover.popover"
      data-action="mouseleave->popover#delayedClose"
    )
      .box-n-body
        span Popover content goes here

  hr

  h2 Buttons

  h6 Filled

  div.mb-2
    a.btn-n.btn-n-lg.btn-n-primary.mr-2 Button
    a.btn-n.btn-n-lg.btn-n-secondary.mr-2 Button
    a.btn-n.btn-n-lg.btn-n-success.mr-2 Button
    a.btn-n.btn-n-lg.btn-n-danger.mr-2 Button

  div.mb-2
    a.btn-n.btn-n-primary.mr-2 Button
    a.btn-n.btn-n-secondary.mr-2 Button
    a.btn-n.btn-n-success.mr-2 Button
    a.btn-n.btn-n-danger.mr-2 Button

  .mb-4
    a.btn-n.btn-n-sm.btn-n-primary.mr-2 Button
    a.btn-n.btn-n-sm.btn-n-secondary.mr-2 Button
    a.btn-n.btn-n-sm.btn-n-success.mr-2 Button
    a.btn-n.btn-n-sm.btn-n-danger.mr-2 Button

  h6 Outlined

  div.mb-2
    a.btn-n.btn-n-lg.btn-n-outline-primary.mr-2 Button
    a.btn-n.btn-n-lg.btn-n-outline-secondary.mr-2 Button
    a.btn-n.btn-n-lg.btn-n-outline-success.mr-2 Button
    a.btn-n.btn-n-lg.btn-n-outline-danger.mr-2 Button

  div.mb-2
    a.btn-n.btn-n-outline-primary.mr-2 Button
    a.btn-n.btn-n-outline-secondary.mr-2 Button
    a.btn-n.btn-n-outline-success.mr-2 Button
    a.btn-n.btn-n-outline-danger.mr-2 Button

  div.mb-2
    a.btn-n.btn-n-sm.btn-n-outline-primary.mr-2 Button
    a.btn-n.btn-n-sm.btn-n-outline-secondary.mr-2 Button
    a.btn-n.btn-n-sm.btn-n-outline-success.mr-2 Button
    a.btn-n.btn-n-sm.btn-n-outline-danger.mr-2 Button
